*{
  margin: 0;
  padding: 0;
}

nav{
  height: 70px;
  width: 100vw;
  background-color: black;
 
}

.nav-ul{
  display: flex;

}
.nav-items{
  margin: 20px;
  padding: 5px 10px 5px 10px;
color: white;
text-decoration: none;
border: 2px solid greenyellow;
}
 
.nav-ul :first-child{
  margin-left: 30% ;
}

@media only screen and (max-width:455px){

  .nav-items{
    flex-direction: right;
  }
}

 

