
*{
  margin: 0;
  padding: 0;
}
/* Theme one */
:root{
  --color:rgb(16, 0, 0);
  --sec-color:rgb(255, 168, 55);
  --bgcolor:rgb(255, 60, 60);
  --defop:0.5;
}

/* Theme Two */
/* :root{
  --color:rgb(255, 255, 255);
  --sec-color:rgb(132, 0, 172);
  --bgcolor:rgb(255, 231, 126);
  --defop:0.5;
} */

/* Theme Three */
 /* :root{
  --color:rgb(255, 255, 255);
  --sec-color:rgb(0, 0, 0);
  --bgcolor:rgb(0, 255, 17);
  --defop:0.5;
}   */

/* Theme Four */
/* :root{
  --color:rgb(255, 255, 255);
  --sec-color:rgb(46, 0, 211);
  --bgcolor:rgb(237, 255, 155);
  --defop:0.5;
} */


body{
  background-color:var(--bgcolor);
}
nav{
  height: 50px;
  width: 100vw;
  background-color:var(--sec-color);
  box-shadow: 2px 5px 15px ;
}
ul{
  display: flex;
  
}

ul li{
  font-family:Arial, Helvetica, sans-serif;
  
  color:var(--color);
  list-style: none;
  padding: 15px;
}

ul:first-child{
  margin-left: 50px;
}

li:hover{
  opacity: var(--defop);
}
a{
  text-decoration: none;
  color: var(--color);
}